:root{
    --header-height: 5.5rem;
    --color-primary: #f196a1;
    --line-height-primary: 1.5;
    --color-black: #000;
    --padding-page: 0 120px;
    --background--primary: white;

    //Search
    --height-search: 32px;
    --color-search: #d9d9d9;
    --border-search: 1px var(--color-search) solid;
    --border-radius-search: 40px;
    --color-result: white;
    --background-search: white;

    //Product
    --border-radius-product: 10px;
}
