.appHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    box-shadow: 4px 4px 40px 0 rgba(0,0,0,.05);
    z-index: 1;
    height: 80px;
    .logo{
        height: 60px;
    }
    .labelNavMenu{
        font-size: 16px;
        font-weight: 300;
    }
    .menuButton{
        @media (min-width: 1280px) {
            display: none;
        }
        margin-top: 4px;
        border: none;
        background-color: transparent;
        cursor: pointer;
    }
    
    .menuRight{
        width: 150px;
    }
    .itemMenuRight{
        font-family: 'Mulish', sans-serif;
        padding: 6px 0 0 0;
        height: 40px;
        width: fit-content;
        display: flex;
        border: none;
        box-shadow: none;
        background-color: transparent;
        margin-right: 20px;
        cursor: pointer;
    }
    .navMenu{
        min-width: 450px;
        @media (max-width: 1280px) {
            display: none;
        }
    }

    :global{
        .ant-menu-horizontal{
            border-bottom: none;
        }
        .ant-menu-light.ant-menu-horizontal >.ant-menu-item-selected{
            color: var(--color-primary);
        }
        .ant-menu-light.ant-menu-horizontal >.ant-menu-item-selected::after{
            border-bottom-color: var(--color-primary);
        }
        .ant-menu-light.ant-menu-horizontal >.ant-menu-item-active::after{
            border-bottom-color: var(--color-primary)!important;
        }
        .ant-menu-item:hover{
            color: var(--color-primary)!important;
        }
    }
}



//Drawer

.wrapperContentDrawer{
    line-height: var(--line-height-primary);
    font-weight: 600;
    padding: 10px 0 0 20px;
}
.labelDrawer{
    padding: 0 0 40px 0;
}

.drawer{
    :global{
        .ant-drawer-header{
            padding-right: 0 !important;
        }
        .ant-drawer-header-title{
            justify-content: flex-end;
            flex-direction: row-reverse;
        }
    }
}